/* COMMONS */
 *.card{
    border: 0 transparent;
    background-color: transparent;
} 
.text-cover-section p{
    font-size: 18px; 
}

#jumbotron .row, #jumbotron .container, #section-3 .row, #section-3 .container {
    height: 100%;
}

.circle-card{
    border-radius: 20px;
}

#section-4 .col .card-body .card-title{
    font-size: 18px;
} 

/* ---------------- HEADER---------------- */

#jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
}

#jumbotron .row,#jumbotron .container {
    height: 100%;
}

#jumbotron .text-cover-section img{
    width: 250px;
}

/* ---------------- MAIN ---------------- */

/* SECTION-3 */

#section-3{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.section-3-img{
    width: 200px;
}

/* SECTION-4 */

#section-4{
    background-color: #1f1f1f;
}

/* SECTION-6 */

#section-6{
    background-color: #bebcbb;
}

/* SECTION-8 */

#section-8{
    background-color: #161c3b;
}

/* ---------------- FOOTER ---------------- */

footer{
    background-color: #00439c;
}

footer .logo-sie{
    width: 130px;
}

footer ul li{
    list-style: none;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover, footer a:active, footer a:link, footer a:visited{
    color: white;
}

footer .top-footer .language img{
    width:50px
}